@model IEnumerable<PIAdvisingApp.ViewModels.PiAdvisingBondViewModel>

<div id="modalPage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalPageLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalPageLabel">Dummy Modal Page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>API Number: <span id="apiNumberDisplay"></span></p>
                <p>Other content goes here...</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
