@model IEnumerable<PIAdvisingApp.ViewModels.PrcRptLcNotReceived>

@{
    ViewBag.Title = "Advise PI Update";
}

@section Scripts {
    <script src="https://cdn3.devexpress.com/jslib/20.2.6/js/dx.all.js"></script>

    <script>
        $(document).ready(function () {
            var grid = $("#gridContainer").dxDataGrid({
                dataSource: @Html.Raw(Json.Encode(Model)),
                columns: [
                    {
                        dataField: "Column1",
                        caption: "Column 1"
                    },
                    {
                        dataField: "Column2",
                        caption: "Column 2"
                    },
                    {
                        dataField: "Column3",
                        caption: "Column 3"
                    },
                    // Add more columns here
                ],
                rowAlternationEnabled: true,
                height: 500
            }).dxDataGrid("instance");
        });
    </script>
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>
                Advise PI Update
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Existing Bookings</h2>
            <div class="main-card mb-6 card">
                <div class="card-body">
                    <p>
                        @(Html.DevExtreme().ColorBox())
                    </p>
                    <div id="gridContainer"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="d-flex justify-content-between align-items-center">
                <span>Added Bookings</span>
                <span class="text-right" style="font-size: 18px;">Total Value: <span id="total-value"></span></span>
            </h2>
            <button type="button" id="submit-btn" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
