<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">
    <style>
        /* Add any custom styles specific to the login page here */
    </style>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>